
#zahlavi{
    width: 100%;
    height: 70px;
    background-color: #333333;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: 50px;
}
#HOME, #WIKI, #GITHUB, #LINKEDIN{
    height:30px;
    width: 30px;
    margin:25px;
    font-size: 20px;
    position: absolute;
    left: 60%;
    top: -12px;
    color: #ff0099;   
    display:flex;
}
#logo{
    width:60px;
    height: 60px;
    position:absolute;
    left: 300px;
    top:6px;
}

.text{
    width: 1300px;
    margin: 90px auto;
    font-size: 28px;
}
#tech{
    text-align: center;
    margin-top: 100px;
}
body{
    font-family: 'Roboto Mono', monospace;
    height:100%;
    width:100%;
    background-image:url(pic/haha.jpeg);
}
#pink{
    color:#ff0099;
}
#bold{
    font-weight: bold;}